body {
    min-width: 900px;
}

.container {
    width: 820px;
}

.container-menu {
    padding: 30px 0px 10px;
}

.menu-background {
    background-image: url(../images/RebeccaFinelliSpan.png);
    background-size: 70px 70px;
}

.menu-logo {
    height: 70px;
}

.menu-header {
    position: relative;
    top: 20px;
}

a {
    color: #333333;
}

.nav > li > a:hover,
.nav > li > a:focus {
    color: #999999;
    background-color: transparent;
}


.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
    color: #999999;
    background-color: transparent;
}

.container-boxed {
    width: 780px;
    padding: 10px 20px;
    border: 1px solid #333333;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px #777777;
       -moz-box-shadow: 0px 0px 10px #777777;
            box-shadow: 0px 0px 10px #777777;
}

.padded {
    padding: 10px 0px;
}

.modal-backdrop {
    background-color: white;
}

.modal-body {
    max-height: 600px;
}

.modal-footer {
    text-align: center;
    background-color: #ffffff;
}

.modal.fade {
    top: 10px;
    -webkit-transition: opacity 0.3s linear;
       -moz-transition: opacity 0.3s linear;
         -o-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
}

.modal.fade.in {
    top: 10px;
}

.modal-custom {
    width: 700px;
    margin-left: -350px;
}

